html,
body {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    font-weight: 500;
}
body.with-header {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#map {
    height: 100%;
}
#tooltip {
    pointer-events: none;
    font-family: Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    position: absolute;
    z-index: 9;
    font-size: 12px;
    padding: 0 16px;
    background: #333;
    color: #EEE;
}
#header {
    background-color: #FFF;
    display: block;
    -webkit-box-shadow: 0px 1px 1px 1px #CCC;
    box-shadow: 0px 1px 1px 1px #CCC;
    padding: 6px 0;
    font-family: Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
    font-weight: 500;
    justify-content: space-between;
    line-height: 32px;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 5;
}
    #header h1 {
        display: flex;
        font-size: 18px;
        font-weight: normal;
        padding: 0 18px;
        margin: 0;
    }

    #header img {
        height: 32px;
        width: 32px;
        margin: 0 10px 0 0;
    }

#container {
    height: 100%;
}

.bg-contenedores {
    background-color: rgba(242, 242, 242, 0.4);
    /*position: relative;*/
}
      

.bg-contenedores1 {
    background-color: #fefce8;
    border: 2px solid #000;
}


.contenedor0 {
    position: absolute;
    width: 28rem;
    height: 8%;
    top: 29px;
    left: 36px;
    color: #444;
    font-size: 16px !important;
    border-radius: 0.5rem;
    padding-left: 1rem;
    font-weight: 600;
}

.tooltipContent {
    background-color: #fefce8;
    color: #000;
    border-radius: 4px;
    padding: 10px;
    font-size: 15px;
    font-family: Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
  }
  
.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c {
    background: #fefce8;
    font-family: Google Sans,Noto Sans,Noto Sans JP,Noto Sans KR,Noto Naskh Arabic,Noto Sans Thai,Noto Sans Hebrew,Noto Sans Bengali,sans-serif;
}

.gm-style-iw button {
    display: none !important;
}

.gm-style .gm-style-iw-tc::after {
    background-color: #fefce8;
}

#panel {
    background: white;
    position: absolute;
    bottom: 34px;
    left: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    #panel h2 {
        margin: 5px 10px;
        padding: 0;
        text-align: center;
        color: #333;
        font-size: 1.4em;
    }

    #panel h3 {
        padding: 0;
        margin: 0px 0 10px;
        text-align: center;
        font-size: 1.6em;
    }